@using PagedList
@using PagedList.Mvc

@model IPagedList<Exam.Model.Exam_Library>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="larry-fluid larry-wrapper fadeInRightBig">
    <div class="layui-row lay-col-space15 ">
        <blockquote class="layui-elem-quote larry-btn">
            @*<div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="search" value="" id="search_input" placeholder="文章标题" class="layui-input larry-search-input" style="width:330px;">
                    </div>
                    <a class="layui-btn search_btn">搜索</a>
                </div>*@
            <div class="layui-inline">
                <a class="layui-btn layui-bg-blue" href="/Library/Add">添加</a>
                <a class="layui-btn layui-bg-blue" href="/Library/Lead">从Excel导入</a>
                <a class="layui-btn layui-bg-blue" href="~/Content/ExcelTemp/题库导入模板.xlsx">下载题库导入模版</a>
            </div>
            @*<div class="layui-inline">
                    <a class="layui-btn layui-bg-pale" data-type="tuijian">推荐文章</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" data-type="shenhe">审核文档</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-danger" data-type="del">批量删除</a>
                </div>*@
        </blockquote>
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col>
                <col width="100">
                <col width="120">
                <col width="150">
            </colgroup>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>题库名称</th>
                    <th>添加时间</th>
                    <th>修改时间</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th>题目数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.LibraryID</td>
                        <td>@item.Library_Name</td>
                        <td>@item.CreatTime</td>
                        <td>@item.UpdateTime</td>
                        <td>@item.Library_Remark</td>
                        <td>
                            @(item.LibraryStates?"启用":"禁用")

                        </td>
                        <td>@item.Exam_Question.Count</td>
                        <td>
                            <a onclick="return check_href('/Library/Edit?id=@item.LibraryID')" class="larry-add-edit ajax-get layui-btn layui-btn-small layui-btn-normal larry-add-edit">
                                <i class="larry-icon larry-bianji4"></i>编辑
                            </a>
                            @if (item.LibraryStates)
                            {
                                <a onclick="return Disable(@item.LibraryID);" class="ajax-get layui-btn layui-btn-small layui-btn-danger">
                                    <i class="larry-icon larry-ttpodicon"></i>禁用
                                </a>
                            }
                            else
                            {
                                <a onclick="return Enable(@item.LibraryID);" class="ajax-get layui-btn layui-btn-small layui-btn-danger">
                                    <i class="larry-icon larry-ttpodicon"></i>启用
                                </a>
                            }

                            <a onclick="return check_href('/Question/Index?id=@item.LibraryID')" class="larry-add-edit ajax-get layui-btn layui-btn-small layui-btn-normal larry-add-edit">
                                <i class="larry-icon larry-bianji4"></i>查看详情
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                @if (Model != null && Model.Any() && Model.Count > 1)
                {
                    <tr>
                        <td colspan="4" align="center">
                            <div style="float:left;width:370px;font-size:12px;height:34px;line-height:34px;">
                                每页 @Model.PageSize 条记录，共有 @Model.TotalItemCount 条记录。
                                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页。
                                <input type="hidden" name="page" value="1" />
                                <input id="last" type="hidden" name="page" value="@Model.PageCount" />
                            </div>

                            @Html.PagedListPager(Model, page => Url.Action("Index", new
                       {
                           page,
                           lmid = ViewBag.Lmid
                       }), new PagedListRenderOptions()
                       {
                           LinkToFirstPageFormat = "首页",
                           LinkToNextPageFormat = "下一页",
                           LinkToPreviousPageFormat = "上一页",
                           LinkToLastPageFormat = "末页",
                           DisplayItemSliceAndTotal = false,
                           MaximumPageNumbersToDisplay = 5
                       })
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>
<script>
    function Disable(id) {
        layer.confirm('确认禁用吗？', {
            icon: 3, title: '禁用确认'
        }, function (index) {
            $.post("@Url.Action("Disable", "Library")", { id: id }, function (data) {
                if (data.success) {
                    window.location.href = window.location.href;
                }
                else {
                    layer.alert(data.msg, { icon: -1 });
                }
            }, "json");
        });
    };

    function Enable(id) {
        layer.confirm('确认启用吗？', {
            icon: 3, title: '启用确认'
        }, function (index) {
            $.post("@Url.Action("Enable", "Library")", { id: id }, function (data) {
                if (data.success) {
                    window.location.href = window.location.href;
                }
                else {
                    layer.alert(data.msg, { icon: -1 });
                }
            }, "json");
        });
    }
</script>