
@using PagedList
@using PagedList.Mvc
@using Exam.Model 
@model IPagedList<Exam_PaperRule>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="larry-fluid larry-wrapper fadeInRightBig">
    <div class="layui-row lay-col-space15 ">
        <table class="layui-table" lay-skin="line">

            <colgroup>
                <col>
                <col width="100">
                <col width="120">
                <col width="150">
            </colgroup>
            <thead>
                <tr>
                    <th>试卷编号</th>
                    <th>试卷名称</th>
                    <th>考试开始时间</th>
                    <th>考试结束时间</th>
                    <th>试卷总分</th>
                    <th>题目数量</th>
                    <th>成绩统计</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.PaperRuleID</td>
                    <td>@item.RuleName</td>
                    <td>@item.RuleStartDate</td>
                    <td>@item.RuleEndDate</td>
                    <td>@item.Score</td>
                    <td>@item.QuestionNum</td>
                    <td>
                        <a onclick="return check_href('/ExamMannage/Totle?ruleid=@item.PaperRuleID')" class="larry-add-edit ajax-get layui-btn layui-btn-small layui-btn-normal larry-add-edit">
                            <i class="larry-icon larry-bianji4"></i>成绩统计
                        </a>
                    </td>
                    @*<td>
                        <a onclick="return check_href('/Exam/ExamDetail?ruleid=@item.PaperRuleID')" class="larry-add-edit ajax-get layui-btn layui-btn-small layui-btn-normal larry-add-edit">
                            <i class="larry-icon larry-bianji4"></i>错题统计
                        </a>
                    </td>*@
                </tr>
                }
            </tbody>
            <tfoot>
                @if (Model != null && Model.Any() && Model.Count > 1)
                {
                    <tr>
                        <td colspan="4" align="center">
                            <div style="float:left;width:370px;font-size:12px;height:34px;line-height:34px;">
                                每页 @Model.PageSize 条记录，共有 @Model.TotalItemCount 条记录。
                                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页。
                                <input type="hidden" name="page" value="1" />
                                <input id="last" type="hidden" name="page" value="@Model.PageCount" />
                            </div>

                            @Html.PagedListPager(Model, page => Url.Action("Index", new
                       {
                           page,
                           lmid = ViewBag.Lmid
                       }), new PagedListRenderOptions()
                       {
                           LinkToFirstPageFormat = "首页",
                           LinkToNextPageFormat = "下一页",
                           LinkToPreviousPageFormat = "上一页",
                           LinkToLastPageFormat = "末页",
                           DisplayItemSliceAndTotal = false,
                           //页面最多显示的页码数
                           MaximumPageNumbersToDisplay = 5
                       })
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>